<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Orden #{{ orden.numero }}</title>
</head>
<body>

<p>
    <a href="{{ url_for('ordenes.ordenes') }}">⬅ Volver</a>
</p>

<h2>Editar Orden #{{ orden.numero }}</h2>

<form method="POST" action="{{ url_for('ordenes.editar_orden', orden_id=orden.id) }}">
    {{ form.hidden_tag() }}

    <p>
        {{ form.cliente.label }}<br>
        {{ form.cliente() }}
    </p>

    <p>
        {{ form.persona.label }}<br>
        {{ form.persona() }}
    </p>

    <p>
        {{ form.descripcion.label }}<br>
        {{ form.descripcion(rows=4) }}
    </p>
    <p>
        {{ form.solucion.label }}<br>
        {{ form.solucion(rows=4 , class="form-control") }}
    </p>

    <p>
        {{ form.submit(value='Guardar cambios') }}
    </p>
</form>

</body>
</html>
