<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Orden #{{ orden.numero }}</title>
</head>
<body>

<p>
    Usuario: {{ current_user.email }} |
    Rol: {{ current_user.rol }} |
    <a href="{{ url_for('ordenes.ordenes') }}">⬅ Volver</a>
</p>

<hr>

<h2>Orden de Servicio #{{ orden.numero }}</h2>

{% if current_user.rol == 'admin' %}
<p>
    <a href="{{ url_for('editar_orden', orden_id=orden.id) }}">
        ✏️ Editar orden
    </a>
</p>
{% endif %}


<ul>
    <li><strong>Cliente:</strong> {{ orden.cliente.nombre }}</li>
    <li><strong>Persona que reporta:</strong> {{ orden.persona_reporta }}</li>
    <li><strong>Observaciones:</strong> {{ orden.descripcion }}</li>
    <li><strong>Creado por:</strong> {{ orden.usuario_creador.email }}</li>
    <li><strong>Fecha:</strong>
        {% if orden.fecha_creacion %}
            {{ orden.fecha_creacion.strftime('%Y-%m-%d %H:%M') }}
        {% else %}
            Sin fecha
        {% endif %}
    </li>
</ul>

<hr>

<h3>Archivos adjuntos</h3>

{% if orden.adjuntos %}
<ul>
    {% for a in orden.adjuntos %}
        <li>
            <a href="{{ url_for('static', filename='uploads/' ~ a.archivo) }}" target="_blank">
                {{ a.archivo }}
            </a>

            {% if current_user.rol == 'admin' %}
                | <a href="{{ url_for('adjuntos.eliminar_adjunto', adjunto_id=a.id) }}"
                     onclick="return confirm('¿Eliminar archivo?')">Eliminar</a>
            {% endif %}
        <hr>
<h4>Auditoría</h4>

<p>
    Creada el:
    {% if orden.fecha_creacion %}
    {{ orden.fecha_creacion.strftime('%Y-%m-%d %H:%M') }}
        {% else %}
        Sin fecha
    {% endif %}
</p>

{% if orden.fecha_actualizacion %}
<p>
    Última edición:
    {{ orden.fecha_actualizacion.strftime('%Y-%m-%d %H:%M') }}
</p>
{% endif %}
        </li>
    {% endfor %}
</ul>
{% else %}
<p>Sin archivos adjuntos</p>
{% endif %}

</body>
</html>
